# SVN dirs
.svn
.ignore
# backup files
*~
# make log
Make.log
# generated C++ files
*.C
*.H
# Compiled Object files
*.slo
*.lo
*.o
# Compiled Dynamic libraries
*.so
# Compiled Static libraries
*.lai
*.la
*.a
# compiled stuff
third-party/bin/
third-party/include/
third-party/lib/

